<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686584026595-f8tsrj667pkt7kpre4ae9pov529qblc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686584026595-f8tsrj667pkt7kpre4ae9pov529qblc6</string>
	<key>API_KEY</key>
	<string>AIzaSyDTAd-apg40iAPM_vvllFGXKwecEWdwSs8</string>
	<key>GCM_SENDER_ID</key>
	<string>686584026595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.avencia</string>
	<key>PROJECT_ID</key>
	<string>crypto-avencia</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-avencia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686584026595:ios:b1109f2c1e3a06145cfcd6</string>
</dict>
</plist>