<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199022843767-a0t4et1uqqfdod1ak85kv8o37po35i09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199022843767-a0t4et1uqqfdod1ak85kv8o37po35i09</string>
	<key>API_KEY</key>
	<string>AIzaSyAkraCUHW_aaeKDAQweuXp46EoVAz28G4E</string>
	<key>GCM_SENDER_ID</key>
	<string>199022843767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.avencia</string>
	<key>PROJECT_ID</key>
	<string>avencia-crypto</string>
	<key>STORAGE_BUCKET</key>
	<string>avencia-crypto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199022843767:ios:26998906776b19d53af372</string>
</dict>
</plist>